<header>
    <div class="header-content">
        <div class="logo">
            <a>
                Night Kitchen
            </a>
        </div>
        <div class="search-box">
            <input type="search" class="search-input" placeholder="Tìm sản phẩm…">
            <input type="submit" class="search-button" value="Tìm kiếm"/>
        </div>
        <div class="hotline">

        </div>
        <div class="cart">
            <button class="cart-button">Giỏ hàng <span>(0)</span></button>
            <button class="login-button">Đăng nhập</button>
        </div>
    </div>
</header>
