<footer>
    <div class="container">
        <div class="footer-top">
            <div class="col-md-3 col-sm-6 col-xs-12 footer-col">
                <h4>Về chúng tôi</h4>
                <ul class="about-us">
                    <li>Ship Đồ Ăn Đêm Nhanh Hà Nội</li>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Số nhà 3, ngách 82 Thái Thịnh 1, Đống Đa, Hà
                        Nội</li>
                    <li><a href="mailto:Shipdoandemkom9hanoi@gmail.com"><i class="fa fa-envelope"
                                aria-hidden="true"></i> Shipdoandemkom9hanoi@gmail.com</a></li>
                    <li>
                        <a href="tel:0918127405 – 0973423922"><i class="fa fa-phone" aria-hidden="true"></i> 0918127405
                            – 0973423922</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-col post-footer">
                <li id="recent-posts-3" class="widget widget_recent_entries">
                    <h4>Bài viết</h4>
                    <ul>
                        <li>
                            <a href="https://andemkom9.com/kom9-ship-ga-dem-30-tet-o-ha-noi-cung-giao-thua/">Kom9 ship
                                gà đêm 30 tết ở Hà Nội cúng giao thừa</a>
                        </li>
                        <li>
                            <a href="https://andemkom9.com/kom9-ship-do-an-dem-giao-thua-tet/">Kom9 – Ship Đồ Ăn Đêm
                                Giao Thừa 2023 (Tết Quý Mão)</a>
                        </li>
                        <li>
                            <a href="https://andemkom9.com/bepkom9-ship-do-an-xuyen-tet-o-ha-noi/">[BepKom9] Ship Đồ Ăn
                                Xuyên Tết ở Hà Nội – Xuân Quý Mão 2023</a>
                        </li>
                        <li>
                            <a href="https://andemkom9.com/top-3-quan-lau-rieu-cua-o-tay-son-ngon-gia-binh-dan/">Top 3
                                quán lẩu riêu cua ở Tây Sơn ngon + giá bình dân</a>
                        </li>
                        <li>
                            <a href="https://andemkom9.com/top-3-quan-lau-rieu-cua-o-linh-dam-hoang-mai-hn/">Top 3 quán
                                lẩu riêu cua ở Linh Đàm, Hoàng Mai, HN</a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="col-sm-12 hidden-xs hidden-md hidden-lg">
                <hr>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-col">
                <li id="text-2" class="widget widget_text">
                    <h4>Hỗ trợ</h4>
                    <div class="textwidget">
                        <div class="row support">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <ul class="line-support">
                                    <li><a href="https://andemkom9.com/gioi-thieu/"><i class="fa fa-angle-right"
                                                aria-hidden="true"></i>Về chúng tôi</a></li>
                                    <li><a href="https://andemkom9.com/"><i class="fa fa-angle-right"
                                                aria-hidden="true"></i>Trung tâm hỗ trợ</a></li>
                                    <li><a href="https://andemkom9.com/chinh-sach-bao-mat/"><i class="fa fa-angle-right"
                                                aria-hidden="true"></i>Chính sách bảo mật</a></li>
                                    <li><a href="https://andemkom9.com/chinh-sach-thanh-toan/"><i
                                                class="fa fa-angle-right" aria-hidden="true"></i>Chính sách thanh
                                            toán</a></li>
                                    <li><a href="https://andemkom9.com/chinh-sach-giao-hang/"><i
                                                class="fa fa-angle-right" aria-hidden="true"></i>Chính sách giao
                                            hàng</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-col">
                <li id="text-3" class="widget widget_text">
                    <h4>Facebook</h4>
                    <div class="textwidget">
                        <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/shipdoandemkom9hanoi/"
                            data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                            data-show-facepile="true" fb-xfbml-state="rendered"
                            fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=263&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fshipdoandemkom9hanoi%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false">
                            <span style="vertical-align: bottom; width: 263px; height: 130px;"><iframe
                                    name="f11336c91aba59c" width="1000px" height="1000px"
                                    data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin"
                                    frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no"
                                    allow="encrypted-media"
                                    src="https://web.facebook.com/v6.0/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dfdcfcd37bc7e5c%26domain%3Dandemkom9.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fandemkom9.com%252Ff238868c19ea08%26relation%3Dparent.parent&amp;container_width=263&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fshipdoandemkom9hanoi%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false"
                                    style="border: none; visibility: visible; width: 263px; height: 130px;"
                                    class=""></iframe></span></div>
                    </div>
                </li>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© Bản quyền thuộc về <b>Andemkom9.com</b> </p>
            <a href="javascript:void(0);" onclick="topFunction()" id="btn-to-top"><i class="fa fa-arrow-up"
                    aria-hidden="true"></i> Lên đầu trang</a>
        </div>
    </div>
</footer>